@media (min-width: 501px) {
    * {
        /* border: .1px solid red; */
        box-sizing: border-box;

        margin: 0;
        padding: 0;
    }

    .app {
        font-family: monospace;
        font-size: var(--font-size);
        font-weight: 500;

        /* -----------------------------*/
        /*              VARS            */
        /* -----------------------------*/
        --font-size: 1.01em;

        /* MARK DAYS */
        --markToday: rgb(22, 173, 184);
        --markProgress: rgb(234, 201, 70);
        --markNextWeekReview: rgb(150, 106, 150);
        --markPreviousMonthReview: #e66e6e;
    }

    /* ------------------------------------------------------------------------- */
    /*                              GENERAL LAYOUT                               */

    header {
        background-color: #f3a188;
        height: 20vh;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        justify-content: center;
        align-items: center;
    }

    main {
        height: 80vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main aside {
        width: 18%;
        height: 80vh;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        justify-content: flex-start;
        align-items: center;

        background-color: #e1d7c6;
    }

    main section {
        width: 82%;
        height: 80vh;

        background-color: #fffbf5;
    }

    /* ------------------------------------------------------------------------- */
    /*                                  LAYOUTS                                  */

    /* --------------------------------- HEADER */

    .header {
        font-family: "Times New Roman", Times, serif;
        font-size: 2.8em;

        margin-top: 10px;

        -webkit-text-stroke: 0.5px #b22727;
        color: black;
        font-weight: 600;
    }

    .yearProgress {
        margin-top: 10px;
        width: 80%;
    }

    .divQuote {
        font-family: "Times New Roman", Times, serif;
        font-size: 0.9em;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        
        width: 75%;
        margin-top: 2px;
        /* background-color: #2cc8bb; */
        text-align: center;
    }

    /* --------------------------------- ASIDE */

    /* -----------------------------*/
    /*          ENGLISH LEVEL       */
    /* -----------------------------*/
    .currentClass {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
        background-color: #d3c9b8;
        border-radius: 10px;
        padding: 10px;
    }

    .currentClass .currentLevel {
        font-family: Georgia, "Times New Roman", Times, serif;
        margin-bottom: 5px;

        font-weight: 500;
        font-size: 1.3em;
        -webkit-text-stroke: 0.5px #b22727;
        color: #d74b4b;
    }

    .currentClass .englishLevel {
        font-family: monospace;
        font-size: 1.4em;
        font-weight: 400;

        width: 120px;
        height: 30px;
        line-height: 26px;

        text-align: center;
        border-radius: 8px;
    }

    .basic {
        border: 2px solid #b98100;
        background-color: #ffb100;
    }
    .intermediate {
        border: 2px solid #4d9d17;
        background-color: #6cb33c;
    }
    .advanced {
        border: 2px solid rgb(114, 41, 109);
        background-color: rgb(179, 99, 179);
    }


    .currentClass .classProgress {
        width: 80%;
    }

    .currentClass .percentaje {
        position: relative;
        top: -3px;
        font-size: 0.9em;
    }

    /* -----------------------------*/
    /*        VIDEO STADISTICS      */
    /* -----------------------------*/
    .videosStadistics {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        /* border: 2px solid rgb(57, 108, 111); */
        border-radius: 5px;
        margin-top: 20px;
        /* padding-bottom: 20px; */

        background-color: #cbc2b3;
        border-radius: 10px;
        padding: 10px;
    }

    .videosStadistics div {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .videosStadistics h3 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-weight: 400;
        font-size: 1em;
        margin: 5px;

        -webkit-text-stroke: 1.2px #5f4017;
    }

    .cantVideos,
    .duration {
        margin: 8px;
    }

    .cantVideos p,
    .duration p {
        font-family: monospace;
        font-size: 1.2em;
        font-weight: lighter;

        width: 100px;
        height: 24px;
        line-height: 24px;

        text-align: center;
        border-radius: 8px;
        background-color: #ffb100;
    }

    .cantVideos p {
        background-color: #2cc8bb;
    }
    .duration p {
        background-color: #e25cca;
    }

    /* -----------------------------*/
    /*             WATCH            */
    /* -----------------------------*/
    .watch {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;

        margin-top: 50px;

        background-color: rgb(248, 123, 181);
        border: 5px solid rgb(180, 34, 102);
        border-radius: 10px;
        width: 190px;
        height: 80px;

        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: 100;
        font-size: 1em;
    }

    .watch .numbers {
        display: flex;
        flex-flow: row wrap;
    }

    .watch h3 {
        font-weight: 200;
        -webkit-text-stroke: 1px #5e2c1e;
    }

    .watch .numbers p {
        font-family: monospace;
        font-weight: 300;
        font-size: 1.2em;

        border: 2px solid black;
        border-radius: 5px;
        background-color: #cbc2b3;
        width: 35px;
        height: 35px;
        margin-left: 3px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* -----------------------------*/
    /*            REVIEWS           */
    /* -----------------------------*/
    .reviews {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        background-color: #ed5151;
        border: 2px solid #f23b3b;
        border-radius: 5px;

        padding: 2px 5px;
    }

    /* --------------------------------- SECTION */

    /* -----------------------------*/
    /*              GUIDE           */
    /* -----------------------------*/
    .guide {
        display: flex;
        flex-flow: row wrap;
        justify-content: end;

        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 30px;

        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        font-weight: lighter;
        font-size: 0.8em;
    }

    .today,
    .progressDays,
    .weeklyReview,
    .monthlyReview {
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .today label,
    .progressDays label,
    .weeklyReview label,
    .monthlyReview label {
        padding: 3px;
    }

    .today label {
        background-color: var(--markToday);
    }
    .progressDays label {
        background-color: var(--markProgress);
    }
    .weeklyReview label {
        background-color: rgb(195, 140, 195);
    }
    .monthlyReview label {
        background-color: var(--markPreviousMonthReview);
    }

    /* -----------------------------*/
    /*            CALENDAR          */
    /* -----------------------------*/
    .calendar {
        display: flex;
        flex-flow: row wrap;

        justify-content: center;
        align-items: flex-start;

        overflow-y: scroll;
        height: 70vh;
    }

    table {
        font-size: 0.9em;
        text-align: center;
        margin: 20px 40px;
    }

    table td {
        padding: 5px;
        width: 25px;
        height: 25px;
    }

    caption {
        text-align: left;
        font-weight: 700;
    }

    thead {
        font-family: monospace;
        font-size: 1.1em;
        color: rgb(150, 150, 150);
    }

    /* ------------------------------------------------------------------------- */
    /*                               CUSTOM STYLES                               */
    /* ------------------------------------------------------------------------- */

    /* -----------------------------*/
    /*           SCROLLBAR          */
    /* -----------------------------*/

    /*  */
    /* CUSTOM SCROLL BAR */
    .calendar::-webkit-scrollbar {
        width: 12px; /* Tamaño del scroll en vertical */
        height: 10px; /* Tamaño del scroll en horizontal */
        /* display: none; */
    }

    .calendar::-webkit-scrollbar-thumb {
        background: rgb(236, 115, 115);
        border-radius: 4px;
    }

    /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
    .calendar::-webkit-scrollbar-thumb:hover {
        background: #ed5151;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    /* Cambiamos el fondo cuando esté en active */
    .calendar::-webkit-scrollbar-thumb:active {
        background-color: #ed5151;
    }

    /* Ponemos un color de fondo y redondeamos las esquinas del track */
    .calendar::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

    /* Cambiamos el fondo cuando esté en active o hover */
    .calendar::-webkit-scrollbar-track:hover,
    .calendar::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }

    /* ------------------------------------------------------------------------- */
    /*                              CUSTOM JS CLASES                             */
    /* ------------------------------------------------------------------------- */

    /* -----------------------------*/
    /*             HIDE             */
    /* -----------------------------*/
    .Hide {
        display: none;
    }

    /* -----------------------------*/
    /*        MARK DAYS FILTER      */
    /* -----------------------------*/

    /* TODAY */
    .markToday {
        background-color: var(--markToday);
        border-radius: 15px;
    }
    .markTodayWeekReview {
        background-color: var(--markToday);
        border: 2px solid var(--markPreviousMonthReview);
        border-radius: 15px;
    }
    .markTodayEndMonth {
        background-color: var(--markToday);
        border: 2px solid var(--markPreviousMonthReview);
        border-radius: 15px;
    }
    .markTodayEndLevel{

    }


    
    .markProgress {
        background-color: var(--markProgress);
        border-radius: 2px;
    }

    /* PREVIOUS */
    .previousWeekReviews {
        background-color: var(--markNextWeekReview);
        /* padding: 2px;  */
        /* border: 2px solid var(--markProgress); */
    }
    .previousMonthReviews {
        background-color: rgb(150, 106, 150);
        
    }

    /* NEXT */
    .nextWeekReviews {
        /* background-color: rgb(75, 43, 75); */
        /* background-color: var(--markNextWeekReview); */
        
        border: 2px solid var(--markNextWeekReview);

        border-radius: 4px;
        padding: 4px;
    }
    .nextMonthReviews {
        /* border: 2px solid rgb(69, 44, 44); */
        /* border-radius: 4px; */
        background-color: var(--markPreviousMonthReview);
        color: #fff;
        /* padding: 4px; */
    }

    /* ENGLISH LEVELS */
    /* BEGING - END [LEVELS] */
    .basicLevelBegin {
        padding: 4px; 
        border: 2px solid rgb(255, 136, 17);
    }
    .basicLevelFinish {
        padding: 4px;
        border: 3px solid rgb(255, 136, 17);
    }
}
